/*---------- example css ----------*/
.c-build-loading {
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  background: rgba(grey, 0.5);
  justify-content: center;
  left: 0;
  right: 0;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 25%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $color-primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-display-none {
  display: none;
}
// .c-scroll-smooth-id {
//   position: fixed !important;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   overflow-x: hidden;
//   .scrollbar-track-x {
//     display: none !important;
//   }
//   .scrollbar-track-y {
//     display: none !important;
//     position: fixed;
//     z-index: 1;
//     right: 0;
//     top: 0;
//     bottom: 0;
//   }
// }
.c-banner-sid{
  img{
    width: 100%;
  }
}
.c-slider {
  overflow: hidden;
  .slick-slide {
    border: none;
    outline: none;
    // img{
    //   width: 100%;
    // }
    &:hover,
    &:focus {
      outline: none;
      border: none;
    }
  }
  &__item {
    border: none;
    outline: none;
    img {
      width: 100%;
    }
    &:hover,
    &:focus {
      outline: none;
      border: none;
    }
  }
}
.overflow-img {
  overflow: hidden;
  img {
    @include transition-default;
  }
}
.c-banner-text {
  position: relative;
  z-index: 1;
  padding-top: percentage(1440/1440);
  &__box {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    .top {
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }
    h1 {
      font-weight: 700;
      margin-bottom: 43px;
      font-size: 25px;
    }
    .bottom {
      a {
        display: inline-block;
        padding-bottom: 2px;
        color: $color-black;
        @include transition-default;
        border-bottom: 1px solid $color-black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.c-img-box {
  img {
    width: 100%;
  }
}
.c-block {
  padding: 54px 0;
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  // .c-scroll-smooth-id {
  //   right: 8px;
  //   .scrollbar-track-y {
  //     display: block !important;
  //   }
  // }
  .c-slider {
    &__item {
      &.is-post {
        img {
         width: 100%;
        }
      }
    }
  }
  .c-banner-text {
    padding-top: percentage(525/1440);
    &__box {
      width: 90%;
      text-align: center;
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .overflow-img {
    &:hover {
      img {
        @include transform(scale(1.1));
      }
    }
  }
  .c-banner-text {
    &__box {
      // width: 100%;
      .top {
        margin-bottom: 49px;
        font-size: 25px;
        font-weight: 700;
      }
      h1 {
        font-weight: 700;
        margin-bottom: 60px;
        font-size: 38px;
      }
      .bottom {
        a {
          &:hover {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .c-banner-text {
    &__box {
      // width: 100%;
      h1 {
        margin-bottom: 133px;
        font-size: 46px;
      }
    }
  }
  .c-block {
    padding: 108px 0;
  }
}
//end example responsive css
/*---------- end example css ----------*/
