/*---------- example css ----------*/
.l-footer {
  padding: 60px 0;
  background: $color-black;
  .c-footer {
    &__top {
      padding-bottom: 27px;
      border-bottom: 1px solid $color-white;
      .col-md-9 {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        .icon-multiply {
          width: 19px;
          height: 18px;
          display: inline-block;
          margin-left: 15px;
        }
        span {
          font-size: 18px;
          line-height: 18px;
          color: $color-white;
          font-weight: 700;
          display: inline-block;
          padding-left: 10px;
        }
      }
      .col-md-3 {
        text-align: center;
        a {
          border: 1px solid $color-white;
          @include border-radius(10px);
          display: block;
          padding: 30px 0;
          font-size: 20px;
          @include transition-default;
          color: $color-white;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &__bottom {
      padding-top: 28px;
      &__top {
        color: $color-white;
        font-size: 18px;
        margin-bottom: 34px;
        p {
          margin: 0;
        }
      }
      &__bottom {
        position: relative;
        z-index: 1;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            color: $color-white;
            font-weight: 400;
            // width: percentage(1/2);
            // float: left;
            margin-bottom: 15px;
            font-size: 18px;
            padding-left: 0;
            padding-right: 0;
            // &:first-child{
            //   padding-left: 0;
            // }
            // &:last-child{
            //   padding-right: 0;
            // }
            a {
              color: $color-white;
              font-weight: 400;
              @include transition-default;
              font-size: 18px;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .l-footer {
    .c-footer {
      &__top {
        .row {
          align-items: center;
        }
        .col-md-9 {
          margin: 0;
          .icon-multiply {
            width: 32px;
            height: 30px;
            margin-left: 20px;
          }
          span {
            font-size: 36px;
            line-height: 36px;
            padding-left: 15px;
          }
        }
        .col-md-3 {
          a {
            padding: 30px 0;
            font-size: 20px;
          }
        }
      }
      &__bottom {
        &__top {
          margin: 0;
        }
        &__bottom {
          ul {
            // position: absolute;
            // z-index: 2;
            // bottom: 0;
            // right: 0;
            // left: 0;
            li {
              // width: percentage(1/4);
              margin: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .l-footer {
    .c-footer {
      &__top {
        .col-md-9 {
          .icon-multiply {
            width: 43px;
            height: 40px;
          }
          span {
            font-size: 48px;
            line-height: 48px;
          }
        }
        .col-md-3 {
          a {
            padding: 29px 0;
          }
        }
      }
      &__bottom {
        padding-top: 56px;
        &__bottom {
          ul {
            li {
              padding-left: 15px;
              padding-right: 15px;
              &:first-child {
                padding-left: 0;
              }
              &:last-child {
                padding-right: 0;
              }
              a {
                &:hover {
                  color: $color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .l-footer {
    .c-footer {
      &__top {
        padding-bottom: 54px;
        .col-md-9 {
          .icon-multiply {
            width: 45px;
            height: 42px;
          }
          span {
            font-size: 58px;
            line-height: 58px;
            padding-left: 20px;
          }
        }
        .col-md-3 {
          padding-left: 5px;
        }
      }
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/
