/*---------- example css ----------*/

//example   responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
@media (min-width: $screen-xxl-min) {
  //pc & mac 1440px grow up
}
//end example responsive css
/*---------- end example css ----------*/
