/*---------- example css ----------*/
.is-none{
  display: none;
}
.c-home{
  &__left{
    border-bottom: 1px solid black;
  }
}

.c-new-task{
  padding: 30px 20px 20% 20px;
  &__title{
    text-align: center;
    margin-bottom: 50px;
    b{
      font-size: 20px;
    }
  }
  &__task{
    margin-bottom: 30px;
    input{
      width: 100%;
      border: 1px solid gray;
      padding: 5px;
      border-radius: 5px;
    }
  }
  &__note{
    b{
      display: block;
      margin-bottom: 10px;
    }
    textarea{
      width: 100%;
    }
  }
  &__calander{
      margin: 0 -10px;
    &__content{
      display: inline-block;
      padding: 10px;
      width: 50%;
      
      b{
        display: block;
        font-size: 14px;
      }
      input{
        width: 100%;
        height: 30px;
      }
      select{
        width: 100%;
        height: 30px;
      }
      &__date{
        width: 100%;
      }
    }
  }
  &__btn{
    width: 100%;
    border-radius: 5px;
    color: white;
    background: #5cb85b;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  //to do list
  &__istask{
    border: 1px solid black;
    margin-bottom: 20px;
    &__top{
      padding: 20px;
      span{
        font-size: 18px;
        display: inline-block;
        margin-left: 5px;
      }
      &__btn{
        margin-left: auto;
        text-align: right;
        margin-top: 20px;
        button{
          border: none;
          border-radius: 5px;
          color: white;
          padding: 5px 20px;
        }
        button:nth-child(1){
          background: #2cbcd4;
          margin-right: 10px;
        }
        button:nth-child(2){
          background: #d9534f;
        }
      }
    }
    &__bot{
      padding: 20px;
      border-top: 1px solid black;
    }
  }
}

.is-todo-list{
  position: relative;
  z-index: 1;
  height: 100%;
  .c-new-task__bot{
    padding: 25px 25px; 
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    &__right{
      margin-left: auto;
      button{
        border-radius: 5px;
        border: none;
        padding: 7px 25px;
        color: white;
      }
      button:nth-child(1){
        background: #2196f3;
        margin-right: 20px;
      }
      button:nth-child(2){
        background: #d9534f;
      }
    }
  }
}

//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-home{
    display: flex;
    border: 1px solid black;
    &__left{
      width: 45%;
      border-right: 1px solid black;
    }
    &__right{
      width: 55%;
    }
  }

  .c-new-task{
    padding: 30px 50px 20% 50px;
    &__istask{
      &__top{
        padding: 20px;
        display: flex;
        align-items: center;
        &__btn{
          margin-left: auto;
          margin-top: 0;
        }
      }
    }
  }

}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/
